.App {
  min-height: 100vh;
  display: flex;
  background-color: #fcfcfc;
}

.app-name {
  font-family: "Calistoga", cursive;
  letter-spacing: 2px;
  font-weight: 700;
  background: -webkit-linear-gradient(left, #319795, #4fd1cf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.under-development-image {
  width: 400px;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.profile-title {
  font-weight: 700;
  background: -webkit-linear-gradient(left, #319795, #4fd1cf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: medium;
  margin-top: 10px;
}

.search-result {
  width: 100%;
  max-height: 300px;
  overflow: auto;
}

.search-result-list {
  padding: 10px;
  border-radius: 5px;
  display: flex;
}

.search-result-list:hover {
  background-color: #ededed;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.28);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

.badge {
  background-color: red;
  color: white;
  padding: 0px 4px;
  text-align: center;
  border-radius: 20px;
  font-size: 12px;
  margin-left: -10px;
}

.animate-pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

.messageOptions {
  visibility: hidden;
  cursor: pointer;
}

.indidual-message:hover .messageOptions {
  visibility: visible;
}
